@charset "UTF-8";
/*初始化  reset*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;color: #666;}
ol,ul{list-style:none}
a{text-decoration:none}
fieldset,img{border:0;vertical-align:top;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}
* {
	margin: 0;
	padding: 0;
}
body {
    background-color: #111;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.w {
	margin: 0 auto;
}
#top {
	position: fixed;
	top: 80%;
	right: 20px;
	cursor: pointer;
	display: none;
}
/* cover begin */
.cover {
	 height: 600px;
}
.cover img {
	position: absolute;
}
.cover-me img {
	border-radius: 100px;
	position: absolute;
	top: 100px;
	left: 400px;
}
.cover-content {
	position: absolute;
	top: 220px;
	left: 400px;
	height: 200px;
	line-height: 60px;
}
.cover-content h2,.cover-content h3{
	/*color: #8fc320;*/
	color: #fff;
	font: 700 20px/60px "微软雅黑";
}
.cover-content a {
	display: inline-block;
	width: 120px;
	height: 60px;
	background-color: #2c3e50;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	margin: 20px 20px 0 0;
	font: 500 18px/60px "微软雅黑";
}
.cover-content a:hover {
	opacity: 0.5;
}
.cover-index {
	width: 100%;
	height: 450px;
	position: absolute;
	padding-top: 150px;
	top: 0;
	text-align: center;
	background-color: #2c3e50; 
	display: none;
}
.cover-index li {
	margin: 30px;
}
.cover-index li a{
   font: 700 20px/30px "微软雅黑";
   color: #fff;
}
.cover-index li a:hover {
	color: #777;
}
/* cover end */
/* us begin */
 h1 {
	height: 30px;
	width: 500px;
	margin: 60px auto;
	font: 800 26px/30px "微软雅黑";
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.green {
	width: 140px;
	padding-bottom: 20px;
	border-bottom: 3px solid #8fc320;
}
.us {
	height: 600px;
	width: 1200px;
	text-align: center;
}
.us img {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin-bottom: 40px;
}
p {
   width: 600px;
   margin: 0 auto;
   text-align: left;
   text-indent: 2em;
   font: 500 16px/30px "微软雅黑";
   color: #fff;
}
/* us end */
/* product begin */
.product {
	text-align: center;
	height: 650px;
}
.product img {
	width: 400px;
	height: 300px;
}
.product ul {
 	width: 1260px; 
	height: 600px;
	margin: 30px auto;
	position: relative;
}
.product li {
	float: left;
	margin: 10px;
	width: 400px;
	height: 300px;
	cursor: pointer;
}
.product .search1 {
    display: none;  
    width: 400px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    top: 20px;
}
.product .search2 {
	display: none;
    width: 400px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 150px;
    position: absolute;
    top: 320px;
}
.product h5 {
    font: 900 24px "微软雅黑";
    color: #111;
    margin-top: 100px;
}
.product .search1 img, .product .search2 img {
	width: 30px;
	height: 30px;
}
/* product end */
/* skill begin */
.skilles {
	height: 600px;
	margin-top: 250px;
}
.skilles .skilles-title {
	width: 200px;
	height: 500px;
    margin: 30px 0 0 160px;
    display: inline-block;
}
.skilles .skilles-title li {
	width: 200px;
	height: 60px;
	margin: 10px 0 50px 60px;
	border-radius: 10px;
	background-color: #cdcdcd;
	text-align: center;
}
.skilles .skilles-title li a {
	font: 700 18px/60px "微软雅黑";
	color: #8fc320;
}
.skilles  .skilles-details {
	float: right;
	width: 300px;
	height: 300x;
	background-color: #cdcdcd;
    margin: 30px 260px;
    font: 400 20px/30px "微软雅黑";
    letter-spacing: 0.5em;
    border-radius: 10px;
    border: 1px solid #8fc320;
    padding: 25px;
    display: none;
}
/* skill end */
/* contact begin */
.contact {
	height: 360px;
}
.contact h2 {
	height: 30px;
	width: 500px;
	margin: 60px auto;
	font: 800 26px/30px "微软雅黑";
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.contact p {
	height: 30px;
	margin: 30px auto;
	text-align: center;
	font: 700 20px/30px "微软雅黑";
}
/* contact end */